@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root{
    --green:#27ae60;
    --black: #000;
    /*--bg-color:#e6e6e6;*/
    --bg-color:#ecf0f3;
    --border: 2px solid rgba(0,0,0,.2);
    --box-shadow: 4px 4px 6px #8c8c8c,
                -4px -4px 6px #fff;
    --box-shadow-inset:4px 4px 6px #8c8c8c inset,
                -4px -4px 6px #fff inset;
}

html{
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.element-hidden {
    display: none;
}

body.active{
    --black: #fff;
    --bg-color: #222;
    --border: 1px solid rgba(0,0,0,.4);
    --box-shadow: 8px 8px 16px #111,
                -8px -8px 16px #333;
    --box-shadow-inset:8px 8px 16px #111 inset,
                    -8px -8px 16px #333 inset;
    background-color: #222!important;
}

header {
    position: static;
}

.container-home {
    display:flex;
    width: 100%;
    background-color: var(--bg-color);
}

.container-home .content {
    width: 80%;
    margin-bottom: 64px;
    /*background-color: #fff;*/
}

.sidebar {
    background: var(--bg-color);
    width: 300px!important;
    border-right: var(--border);
    padding: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}

.sidebar .user h3 {
    font-size: 22px;
    font-weight: bold;
    color: var(--black);
}

.sidebar .user p {
    color: var(--green);
    font-size: 14px;
}

.sidebar .sidebar-nav {
    padding-top: 24px;
}
.sidebar .sidebar-nav .side-nav-feat {
    display: block;
    margin: 16px 0;
    padding: 8px;
    border-radius: 10px;
    font-size: 17px;
    box-shadow: var(--box-shadow);
    color: var(--black);
    text-align: left;
}

.sidebar .sidebar-nav .side-nav-second-level {
    margin-left: 24px;
}

.sidebar .sidebar-nav .side-nav-second-level a {
    font-size: 15px;
}

.sidebar .sidebar-nav .side-nav-feat:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--green);
}

.sidebar .sidebar-nav a .icon-sidebar {
    display: inline-block;
    font-size: 18px;
    color: var(--green);
    margin: 0 4px;
}

#menu-btn{
    position: fixed;
    top:140px; left: 22px;
    z-index: 1;
    height: 44px;
    width: 44px;
    line-height: 44px;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
    background: var(--bg-color);
    display: none;
}

#menu-btn:hover{
    color: var(--green);
    box-shadow: var(--box-shadow-inset);
}

#theme-toggler {
    position: fixed;
    top: 140px;
    right: 48px;
    z-index: 1000;
    height: 44px;
    width: 44px;
    line-height: 44px;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
    background: var(--bg-color);
}

#theme-toggler:hover{
    color:var(--green);
    box-shadow: var(--box-shadow-inset);
}

/* media queries  */

@media (max-width:991px){
    .sidebar{
        left: -500px;
    }

    .sidebar.active{
        left:0;
        transition: .4s linear;
    }

    #menu-btn{
        display: initial;
    }

}

@media (max-width:450px){
    .sidebar{
        width:100%;
        border-right: 0;
    }

}
